In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import sqlite3
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 10)
np.random.seed(1984)

## Connect SQL

In [30]:
conn = sqlite3.connect('Cans.db')
c = conn.cursor()

In [31]:
main_df = pd.read_csv('main.csv')

In [32]:
main_df.to_sql('Cans', conn, if_exists='replace', index = False)

C:\Users\blang\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:2663: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
# Main DB Column Names
#["Family_Functioning","Living_Situation","Social_Functioning","Recreational","Developmental_Intellectual","Job Functioning","Legal","Medical_Physical","Sexual Development","Sleep","School_Behavior","School_Attendance","School_Achievement","Decision_Making","Family_Strengths","Interpersonal","Optimism","Educational_Setting","Vocational","Talents_Interests","Spiritual_Religious","Community_Life","Relationship_Permanence","Resiliency","Resourcefulness","Cultural_Identity","Natural_Supports","Language",
#"Traditions_Rituals","Cultural_Stress","Supervision","Involvement_with_Care","Knowledge","Organization","Social_Resources","Residential Stability","Medical_Physical","Mental_Health","Substance_Usage",
#"Developmental","Safety","Psychosis","Impulsivity_Hyperactivity","Depression","Anxiety","Oppositional","Conduct","Adjustment_to_Trauma","Attachment_Difficulties","Anger_Control","Substance_Use",
#"Suicide_Risk","NonSuicidal_Self_Injurious_Behavior","Other_Self_Harm", "Danger_to_Others","Sexual_Aggression","Runaway","Delinquent_Behavior","Fire_Setting","Intentional_Misbehavior"]

### Execute Queries here

In [50]:
c.execute('''  
SELECT Child_Name, DOB, Fire_Setting
FROM Cans
WHERE Fire_Setting > 2
ORDER BY DOB DESC
LIMIT 50
          ''')
for row in c.fetchall():
    print(row)

('Sabrina PARKER', '12/31/2018', 3)
('Noah BAKER', '12/31/2018', 3)
('Nathan NELSON', '12/31/2017', 3)
('Charles CARTER', '12/31/2017', 3)
('Layla SMITH', '12/31/2016', 3)
('Shelby TURNER', '12/31/2016', 3)
('Claire CARTER', '12/31/2015', 3)
('Isaac EDWARDS', '12/31/2015', 3)
('Ryker MOORE', '12/31/2014', 3)
('Louis HALL', '12/31/2014', 3)
('Manuel MARTINEZ', '12/31/2014', 3)
('Matthew LEE', '12/31/2014', 3)
('Sierra HERNANDEZ', '12/31/2013', 3)
('Aiden ADAMS', '12/31/2011', 3)
('Aliyah PHILLIPS', '12/31/2007', 3)
('Katelyn PHILLIPS', '12/31/2003', 3)
('Valentina WILLIAMS', '12/31/2003', 3)
('Emanuel SCOTT', '12/30/2017', 3)
('Braylon WHITE', '12/30/2016', 3)
('Gabriel MITCHELL', '12/30/2012', 3)
('Scott WALKER', '12/30/2012', 3)
('Bryan COLLINS', '12/30/2011', 3)
('Rachel THOMPSON', '12/30/2009', 3)
('Miles LOPEZ', '12/30/2008', 3)
('Lola HARRIS', '12/30/2007', 3)
('Bentley HARRIS', '12/30/2006', 3)
('Emmett JACKSON', '12/30/2005', 3)
('Jameson MOORE', '12/30/2005', 3)
('Harrison JOHNSON', '12/30/2005', 3)
('Brandon SMITH', '12/30/2005', 3)
('Jett JOHNSON', '12/30/2004', 3)
('Autumn TAYLOR', '12/29/2018', 3)
('Kylee MILLER', '12/29/2018', 3)
('Stella ROBERTS', '12/29/2017', 3)
('Raymond JOHNSON', '12/29/2016', 3)
('Samuel COLLINS', '12/29/2015', 3)
('Hunter CLARK', '12/29/2013', 3)
('Samantha LOPEZ', '12/29/2012', 3)
('Jayson FREEMAN', '12/29/2012', 3)
('Abigail GREEN', '12/29/2011', 3)
('Wyatt MILLER', '12/29/2010', 3)
('Daniel CLARK', '12/29/2009', 3)
('Francisco BAKER', '12/29/2009', 3)
('Marcus MITCHELL', '12/29/2008', 3)
('Cameron RODRIGUEZ', '12/29/2007', 3)
('Leland LEE', '12/29/2007', 3)
('Victor YOUNG', '12/29/2005', 3)
('Riley MILLER', '12/29/2005', 3)
('Piper SCOTT', '12/29/2004', 3)
('Edwin BAKER', '12/29/2004', 3)

## Query returned as pandas DataFrame

In [51]:
df = pd.read_sql_query("SELECT Child_Name, DOB, Fire_Setting FROM Cans WHERE Fire_Setting > 2 ORDER BY DOB DESC LIMIT 50;", conn)
df

        Child_Name         DOB  Fire_Setting
0   Sabrina PARKER  12/31/2018             3
1       Noah BAKER  12/31/2018             3
2    Nathan NELSON  12/31/2017             3
3   Charles CARTER  12/31/2017             3
4      Layla SMITH  12/31/2016             3
..             ...         ...           ...
45      Leland LEE  12/29/2007             3
46    Victor YOUNG  12/29/2005             3
47    Riley MILLER  12/29/2005             3
48     Piper SCOTT  12/29/2004             3
49     Edwin BAKER  12/29/2004             3

[50 rows x 3 columns]